# create a file in config folder named "test.secret.exs
# configure it with the following

use Mix.Config

# Configure your database
config :irite, Irite.Repo,
  username: "your_username",
  password: "your_password",
  database: "your_databasename_test",    # make sure to include the "_test"
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox